:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-size-h1: 32pt;
  --font-size-h2: 24pt;
  --font-size-body: 20pt;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --frost-white: #FAFAFA;
  --platinum: #e2e2e2;
  --night-black: #1f1f1f;
  --eerie-black: #343333;
  --jet-black: #575656;
  --blush-pink: #EA4A7D;
  --pastel-blue: #CBD5FF;
  --blueberry-creme: #EBEFFF;
  --confirmation-green: #fafafa;
  --imperial-red: #EA4A4D;
  --canary-yellow: #EAE84A;
  --ocean-blue: #214DDF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'dm_sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3 {
  font-family: 'prompt';
}
h1 {
  font-size: var(--font-size-header1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
