.main {
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-regular); 
}

.heading1 {
  font-family: var(--prompt);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-h1);
}

.heading2 {
  font-family: var(--prompt);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-h2);
}

.heading3 {
  font-family: var(--prompt);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-body);
}

.paragraph {
  font-family: var(--dm-sans);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-body);
}