/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page_main__GlU4n {
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-regular); 
}

.page_heading1__58JEy {
  font-family: var(--prompt);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-h1);
}

.page_heading2__hKv2x {
  font-family: var(--prompt);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-h2);
}

.page_heading3__J2y7o {
  font-family: var(--prompt);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-body);
}

.page_paragraph__9zKO8 {
  font-family: var(--dm-sans);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-body);
}
